WebDAV's creation data returns in wrong format

### Describe the bug / 问题描述

https://github.com/alist-org/alist/blob/86b35ae5cfec400871072356fec4dea88303195d/server/webdav/prop.go#L386-L388

WebDAV 协议返回的 creationdate 属性的格式是错误的。
根据 [RFC4918 15.1 节](https://datatracker.ietf.org/doc/html/rfc4918#section-15.1)，应当使用 [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339) 中定义的格式，例：
```
<D:creationdate>1997-12-01T17:42:21Z</D:creationdate>
```

（与之不同的是，getlastmodified 则使用 [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123) 格式的时间）

此外，RFC3339 允许存在微秒部分，但 Windows 系统客户端不支持带微秒部分的 RFC3339 时间，如 `1997-12-01T17:42:21.1234Z`。